parameters:
    customRulesetUsed: true
    universalObjectCratesClasses:
        - Nette\Schema\Elements\Structure

includes:
    - vendor/phpstan/phpstan-nette/extension.neon
    - vendor/phpstan/phpstan-nette/rules.neon